<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>

        {% load static %}
        <link rel="stylesheet" href="{% static "index.css" %}">

    </head>
    <body>
        <h1>{{ title }}</h1>
        <form action="/">
            <input type="text" name="keywords" value="{{ keywords }}">
            <input type="submit" value="搜索">
        </form>
        <div> {{ err_info }}</div>

        <!-- 搜索结果 -->
        <div id='result'>
            {% for item in result %}
                <div class='result-item'>
                    <div>
                        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                    </div>
                    
                    <div>{{ item.content }}</div>
                </div>
            {% endfor %}
        </div>
        

    </body>
</html>

